#root {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.liked {
    background-color: rgb(216, 223, 83);
}

.error {
    background-color: rgb(208, 203, 203);
    margin-left: 40px;
    padding: 20px 10px 20px 10px;
}

#navigationButtons {
    display: flex;
    justify-content: space-around;
}

#list {
    list-style-type: none;
}

#list span {
    margin-right: 40px;
}

#list span:hover {
    background-color: rgb(154, 169, 226);
}

li {
    display: flex;
    justify-content: space-between;
    margin: 5px
}