$bodyBackgroundColor: white;
$letterColor: rgb(48, 42, 61);
$imageHeader: url(../img/m-h-day.jpg);
$backgroundColorLetter: rgb(0, 149, 207);
$backgroundColorCard: rgb(37, 32, 46);
$letterColorTitle: rgb(255, 255, 255);
$colorBanner: linear-gradient(90deg, rgba(99, 147, 22, 1) 0%, rgba(47, 94, 208, 1) 100%);
$colorButton: rgb(32, 145, 32);
$letterColorCard: rgb(162, 162, 165);
$fontFamily: 'Hind', sans-serif;
$leftTextBefore: 774px;