$bodyBackgroundColor:rgb(23, 23, 36);
$letterColor: white;
$imageHeader: url(../img/m-h-night.jpg);
$backgroundColorLetter: rgb(235, 110, 27);
$backgroundColorCard: rgb(59, 59, 80);
$letterColorTitle: rgb(255, 255, 255);
$colorBanner: linear-gradient(90deg, rgba(224,167,4,1) 0%, rgba(151,52,77,1) 100%);
$colorButton: rgb(224, 169, 16);
$letterColorCard: rgb(202, 199, 197);
$fontFamily:'Source Sans Pro', sans-serif;
$leftTextBefore: 764px;