/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/

body {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1330px;
  margin: 0px auto;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.footer {
  background-color: #363636;
  margin: 0;
}

.footer p {
  text-align: center;
  color: #fff;
}

.up {
  position: fixed;
  right: 4%;
  bottom: 3%;
  background-color: #0078aa;
  padding: 23px 30px 23px 30px;
  border-radius: 40px;
}

.up a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
}

.wrap-menu {
  max-width: 100%;
}

.menu {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu-div-fixed {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.menu-item a {
  color: #363636;
  text-decoration: none;
  padding: 1rem;
  font-weight: 600;
}

.menu-item a:hover {
  color: #0078aa;
}

.logo-menu img {
  padding: 2rem;
}

.first-paragraph {
  height: 655px;
  background: url("../img/header_bg.jpg") no-repeat center;
  background-size: cover;
}

.icon-first-paragraph {
  width: 450px;
  position: absolute;
  top: 70%;
}

.icon {
  width: 50px;
  height: 50px;
  padding: 12px;
  margin: 5px;
  background-color: #0078aa;
  border: 2px #0078aa solid;
  border-radius: 35px;
}

.icon:hover {
  background-color: #fff;
}

.button-contsiner-offer-description {
  background-color: #fff;
  color: #0078aa;
  text-align: center;
  text-decoration: none;
  padding: 12px 25px 12px 25px;
  border-radius: 10px;
  border: 2px #363636 solid;
  font-weight: 600;
}

.button-contsiner-offer-description:hover {
  background-color: #0078aa;
  color: #fff;
}

.button-submit {
  background-color: #0078aa;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 12px 17px 12px 17px;
  border-radius: 10px;
  border: 2px #363636 solid;
  font-weight: 600;
}

.button-submit:hover {
  background-color: #fff;
  color: #0078aa;
}

.second-paragraph-text {
  margin-top: 60px;
}

.second-paragraph-main-title {
  margin: 0;
}

.second-paragraph-title {
  margin-top: 0;
  text-transform: uppercase;
  color: #0078aa;
}

.title-paragraph {
  font-weight: 600;
  margin-bottom: 0;
}

.title-paragraph::before {
  content: "\21E8";
  color: #0078aa;
  font-weight: 600;
  margin-right: 5px;
}

.third-paragraph {
  height: 100%;
  width: 100%;
  background: url("../img/services_bg.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 50px;
}

.container-item-third-paragraph img {
  width: 30%;
}

.third-paragraph-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.third-paragraph-title h2 {
  margin: 0px;
}

.third-paragraph-item-title {
  padding-top: 5px;
  font-weight: 600;
}

.third-paragraph-description {
  margin-top: 5px;
}

.fourth-paragraph-title {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.fourth-paragraph-title h2 {
  margin: 0px;
}

.subtitle {
  margin: 0px;
  text-transform: uppercase;
  font-weight: normal;
}

.container-offer-description p {
  text-align: center;
}

.title-container-offer-description {
  font-size: 20px;
  font-weight: 600;
}

.price-container-offer-description {
  font-size: 35px;
  font-weight: 900;
}

.cross-container-offer-description {
  font-weight: 600;
}

.div-button-fourth-paragraph {
  padding: 10px;
}

.input-column input, datalist {
  width: 100%;
  padding: 25px 0 0 0;
  border: none;
  border-bottom: 1px #0078aa solid;
}

input[placeholder] {
  font-style: italic;
}

.section-input h2 {
  margin-bottom: 3px;
}

.div-button-submit {
  margin: 15px;
}

@media(min-width: 1280px) {
  .menu-item {
    max-width: 40%;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 30rem 0 1.5rem;
    margin-right: 38px;
  }
  h1 {
    width: 450px;
    position: absolute;
    top: 40%;
    margin-bottom: 0;
  }
  .description-main-page {
    width: 450px;
    position: absolute;
    top: 55%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .second-paragraph {
    display: flex;
    flex-direction: row;
  }
  .third-paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
  }
  .container-item-third-paragraph {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 12px;
    width: 25%;
    height: 165px;
    background-color: #fff;
  }
 
  .fourth-paragraph {
    height: 755px;
    background: url("../img/pricing_bg.jpg") no-repeat center;
    background-size: cover;
  }
  .main-container-offer-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
  }
  .container-offer-description {
    background-color: #0078aa;
    color: #fff;
    padding: 25px 90px 25px 90px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .middle-section {
    background-color: #fff;
    color: #0078aa;
    padding: 25px 110px 25px 110px;
    margin: 0px;
    border: 2px black solid;
  }
  .fifth-paragraph {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
  .section-image {
    width: 40%;
    margin: 0;
  }
  .section-image img {
    width: 532px;
  }
  .section-input {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 9px;
  }
  .input-column {
    display: flex;
    flex-direction: column;
  }
 
}

@media(min-width: 768px) and (max-width:1280px) {
  .menu-item {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
  h1 {
    width: 450px;
    position: absolute;
    top: 40%;
    margin-bottom: 0;
  }
  .description-main-page {
    width: 450px;
    position: absolute;
    top: 55%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .second-paragraph {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .second-paragraph-picture {
    max-width: 40%;
  }
  .second-paragraph-picture img {
    width: 100%;
    margin-top: 80px;
  }
  .second-paragraph-text {
    max-width: 60%;
  }
  .third-paragraph {
    height: 100%;
    width: 100%;
    background: url("../img/services_bg.jpg") no-repeat center;
    background-size: cover;
    overflow: hidden;
  }
  .third-paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    height: 520px;
  }
  .container-item-third-paragraph {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 30%;
    height: 190px;
    background-color: #fff;
  }

  .fourth-paragraph {
    height: 755px;
    background: url("../img/pricing_bg.jpg") no-repeat center;
    background-size: cover;
  }
  .main-container-offer-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
  }
  .container-offer-description {
    background-color: #0078aa;
    color: #fff;
    padding: 15px 38px 15px 38px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .middle-section {
    background-color: #fff;
    color: #0078aa;
    padding: 17px 45px 17px 45px;
    margin: 0px;
    border: 2px black solid;
  }
  .fifth-paragraph {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
  .section-image {
    width: 33%;
    height: 100%;
    margin: 0;
  }
  .section-image img {
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }
  .section-input {
    width: 67%;
    display: flex;
    flex-direction: column;
    margin-left: 9px;
  }
  .input-column {
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 768px) {
  .menu {
    display: flex;
    justify-content: center;
  }
  .menu-item {
    padding: 32px;
  }
  .menu-div-fixed {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: #fff;
  }
  .div-first-paragraph {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  h1 {
    width: 70%;
    position: absolute;
    top: 30%;
    margin-bottom: 0;
  }
  .description-main-page {
    width: 70%;
    position: absolute;
    top: 50%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .icon-first-paragraph {
    width: 70%;
    position: absolute;
  }
  .icon {
    width: 30px;
    height: 30px;
    padding: 9px;
    margin: 5px;
    background-color: #0d8ec5;
    border: 2px #0078aa solid;
    border-radius: 25px;
    top: 70%;
  }
  .second-paragraph-picture {
    width: 100%;
  }
  .second-paragraph-picture img {
    width: 100%;
  }
  .second-paragraph-text {
    width: 100%;
    text-align: center;
  }
  .third-paragraph {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container-item-third-paragraph {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 70%;
    height: 190px;
    background-color: #fff;
    margin: 10px 0 10px 74px;
  }
 
  .fourth-paragraph {
    height: 1590px;
    background: url("../img/pricing_bg.jpg") no-repeat center;
    background-size: cover;
  }
  .main-container-offer-description {
    height: 100%
  }
  .container-offer-description {
    background-color: #0078aa;
    color: #fff;
    padding: 12px 30px 12px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .middle-section {
    background-color: #fff;
    color: #0078aa;
    padding: 15px 38px 15px 38px;
    margin: 0px;
    border: 2px black solid;
  }
  .div-button-fourth-paragraph {
    text-align: center;
  }
  .fifth-paragraph {
    width: 100%;
    margin: 0;
  }
  .section-image img {
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
  .section-input {
    text-align: center;
  }
}