.table {
    border-collapse: collapse;
    border: 1px solid grey;
    width: 350px;
}

th, td {
    border: 1px solid grey;
    padding: 30px;
}

.white {
    background-color: wheat;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.task2 {
    margin-top: 120px;
}

.input {
    width: 30%;
    padding: 10px 40px 10px 3px;
}

.button {
    padding: 10px 20px 10px 20px;
}

.greenNotification {
    width: 30%;
    padding: 40px 20px 40px 20px;
    background-color: green;
}

.redNotification {
    width: 30%;
    padding: 40px 20px 40px 20px;
    background-color: red;
}

.redBorder {
    border: 1px solid darkred;
    width: 30%;
    padding: 10px 40px 10px 3px;
}

.generalDivTask3 {
    margin-top: 150px;
}

.footballField {
    position: relative;
    width: 600px;
    height: 330px;
}

.footballFieldImage {
    position: relative;
    width: 600px;
    height: 330px;
}

.ball {
    position: absolute;
    width: 40px;
    height: 40px;
    transition: all 1s;
}

.score {
    width: 590px;
    display: flex;
    justify-content: space-between;
}

#basket1 {
    position: absolute;
    top: 157px;
    left: 35px;
    width: 15px;
    height: 15px;
}

#basket2 {
    position: absolute;
    top: 157px;
    right: 35px;
    width: 15px;
    height: 15px;
}

.red {
    color: red;
}

.blue {
    background-color: white;
    color: rgb(102, 102, 209);
}

#gameResult {
    display: flex;
    width: 600px;
    justify-content: center;
}